body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

.header{
    padding: 30px 0;
}
.header img{
    width: 180px;
}

a, a:hover, a:focus{
    color: white;
}

.home{
    position: relative;
    height: 65vh;
}
.home .row{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.home .circle{
    z-index: -1;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    margin: 0 auto;
}
.home h1{
    font-size: 48px;
    font-weight: 700;
}
.home p{
    font-weight: 400;
    font-size: 17px;
}


.services{
    margin: 60px 0;
}
.services .col-md-4{
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.services .col-md-4:first-child{
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.services .col-md-4:last-child{
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.services .col-md-4 .item-services{
    padding: 40px;
}
.services .col-md-4 .item-services h1{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact{
    margin-bottom: 60px;
}
.contact .socials{
    margin-top: 20px;
}
.contact .socials a{
    margin-right: 20px;
}
.contact .socials a svg{
    height: 34px;
    width: 34px;
}
.contact .socials a:last-child{
    margin-right: 0;
}

@media (max-width: 767.98px) {
    .header img{
        margin-bottom: 20px;
    }
    .home h1{
        font-size: 38px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .home p{
        text-align: center;
        font-size: 16px;
    }
    .services .col-md-4:first-child{
        border-right:0;
    }
    .services .col-md-4:last-child{
        border-left: 0;
    }
    .home .circle{
        width: 300px;
    }
}
